<div *ngIf="ability$ | async as ab" class="grid">
  <div *ngIf="ab.can('read', 'cloth-size')" class="col-12">
    <app-page-card title="Tamaños de Ropa">
      <app-confirm-dialog
        id="confirmDelete"
        title="Eliminar Tamaño de Ropa"
        message="¿Estas seguro de eliminar el tamaño de ropa?"
      ></app-confirm-dialog>
      <app-data-table
        #clothSizeTable
        [tableConfig]="tableConfig"
        [sourceDataService]="clothSizeService"
      ></app-data-table>
    </app-page-card>
  </div>
</div>
