<p-table
  #simpleTableRef
  [columns]="tableConfig.columns"
  [value]="data"
  styleClass="p-datatable-sm"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="false"
  [scrollable]="true"
  scrollHeight="60vh"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="rowDetails" style="width: 5rem"></th>

      <ng-container *ngFor="let col of columns">
        <ng-container *ngIf="col.visible ?? true">
          <th
            *ngIf="col.sortable; else nonSortableColumn"
            [pSortableColumn]="col.propertyRef"
          >
            <div
              class="flex justify-content-between align-content-center align-items-center"
            >
              {{ col.title }}
              <p-sortIcon [field]="col.propertyRef"></p-sortIcon>
            </div>
          </th>
          <ng-template #nonSortableColumn>
            <th>
              {{ col.title }}
            </th>
          </ng-template>
        </ng-container>
      </ng-container>

      <th *ngIf="hasActions()">Acciones</th>
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-rowData
    let-rowIndex="rowIndex"
    let-columns="columns"
    let-expanded="expanded"
  >
    <tr
      [pSelectableRowDisabled]="true"
      [pSelectableRow]="rowData"
      [pSelectableRowIndex]="rowIndex"
    >
      <td *ngIf="rowDetails">
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="rowData"
          class="p-button-sm p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>

      <ng-container *ngFor="let col of columns">
        <td
          *ngIf="col.visible ?? true"
          [class]="getColumnStyleByType(col.type)"
        >
          <container-element [ngSwitch]="col.type ?? columnType.TEXT">
            <ng-container *ngSwitchCase="columnType.TEXT">
              {{ rowData[col.propertyRef] }}
            </ng-container>
            <ng-container *ngSwitchCase="columnType.BOOLEAN">
              <p-checkbox
                [readonly]="true"
                [ngModel]="rowData[col.propertyRef]"
                [binary]="true"
              ></p-checkbox>
            </ng-container>
            <ng-container *ngSwitchCase="columnType.DATE">
              {{ rowData[col.propertyRef] | date : "dd/MM/YYYY" }}
            </ng-container>
            <ng-container *ngSwitchCase="columnType.DATETIME">
              {{ rowData[col.propertyRef] | date : "dd/MM/YYYY HH:mm:ss" }}
            </ng-container>
            <ng-container *ngSwitchCase="columnType.CUSTOM">
              {{ getColumnCustomValue(col, rowData) }}
            </ng-container>
            <ng-container *ngSwitchCase="columnType.BADGE">
              <div class="p-badge p-badge-secondary">
                {{ getColumnCustomValue(col, rowData) }}
              </div>
            </ng-container>
          </container-element>
        </td>
      </ng-container>

      <td *ngIf="hasActions()">
        <button
          *ngFor="let action of tableConfig.actions"
          pButton
          pRipple
          [icon]="generateActionIcon(action)"
          [ngClass]="
            'p-button-sm p-button-rounded mx-1 ' + generateActionColor(action)
          "
          (click)="executeActionCallback(action, rowData)"
          [pTooltip]="action.tooltip ?? ''"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template *ngIf="rowDetails" pTemplate="rowexpansion" let-rowItem>
    <tr>
      <td colspan="12">
        <ng-container
          [ngTemplateOutlet]="rowDetails"
          [ngTemplateOutletContext]="{ $implicit: rowItem }"
        ></ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
