<div *ngIf="ability$ | async as ab" class="grid">
  <div *ngIf="ab.can('read', 'cloth-type')" class="col-12">
    <app-page-card title="Tipos de Prenda">
      <app-confirm-dialog
        id="confirmDelete"
        title="Eliminar Tipo de Prenda"
        message="¿Estas seguro de eliminar el tipo de prenda?"
      ></app-confirm-dialog>
      <app-data-table
        #clothTypeTable
        [tableConfig]="tableConfig"
        [sourceDataService]="clothTypeService"
      ></app-data-table>
    </app-page-card>
  </div>
</div>
