<div *ngIf="ability$ | async as ab" class="grid">
  <div class="col-12">
    <app-page-card *ngIf="!hasReceptionistRole()" title="Estado de Cuenta">
      <div class="action_container flex flex-row justify-content-between">
        <div class="actions flex flex-row justify-content-between gap-2">
          <p-calendar
            [(ngModel)]="selectedDate"
            view="month"
            [showIcon]="true"
            dateFormat="mm/yy"
            [readonlyInput]="true"
          ></p-calendar>
          <p-button
            label="Ver Reporte Mensual"
            (onClick)="showMonthlyReport()"
          ></p-button>
        </div>
        <div class="balance">
          <app-form-label id="balance" text="Saldo:" />
          <p-inputNumber
            id="balance"
            [(ngModel)]="balance"
            [readonly]="true"
          ></p-inputNumber>
        </div>
      </div>
      <app-simple-table
        [tableConfig]="tableConfig"
        [data]="accountBalance?.movements ?? []"
      >
      </app-simple-table>
    </app-page-card>
  </div>
</div>
