<div *ngIf="ability$ | async as ab" class="grid">
  <div *ngIf="!hasReceptionistRole()" class="col-12">
    <div class="card mb-0">
      <h5>Precios de Parametros</h5>
      <app-confirm-dialog
        id="confirmParameterPriceDelete"
        title="Eliminar Precio Efecto"
        message="¿Estas seguro de eliminar el precio para cliente?"
      ></app-confirm-dialog>
      <app-data-table
        #parameterPricesTable
        [searchEnabled]="false"
        [tableConfig]="tableConfig"
        [sourceDataService]="parameterPriceService"
        [extraParams]="clientId"
      ></app-data-table>
    </div>
  </div>
</div>
