<div *ngIf="ability$ | async as ab" class="grid">
  <div *ngIf="!hasReceptionistRole()" class="col-12">
    <app-page-card title="Valores de Parametros">
      <app-confirm-dialog
        id="confirmParameterValueDelete"
        title="Eliminar valor de parametro?"
        message="¿Estas seguro de eliminar el valor para cliente?"
      ></app-confirm-dialog>
      <app-data-table
        #paramsTable
        [searchEnabled]="false"
        [tableConfig]="tableConfig"
        [sourceDataService]="parameterValueService"
        [extraParams]="clientId"
      ></app-data-table>
    </app-page-card>
  </div>
</div>
