<div class="grid">
  <div class="col-12">
    <div class="card mb-0">
      <h6>Nueva Orden de Lavado</h6>
      <hr />

      <app-form
        [form]="washOrderForm"
        [onProcessCompleted]="formProcessEvent"
        (onSubmit)="onSubmitForm($event)"
        [customSubmit]="true"
      >
        <div class="form-container p-fluid p-formgrid grid">
          <div class="col-3">
            <app-form-label id="client_id" text="Código" />
            <input
              pInputText
              type="text"
              [(ngModel)]="code"
              [readOnly]="true"
            />
          </div>

          <div class="col-3">
            <app-form-label id="client_id" text="Cliente" [required]="true" />
            <app-form-select
              [form]="washOrderForm"
              id="client_id"
              controlName="client_id"
              placeholder="Seleccione un cliente..."
              optionLabel="name"
              optionValue="id"
              [filterEnabled]="true"
              [isLazy]="true"
              [sourceDataService]="clientService"
            >
            </app-form-select>
          </div>
          <div class="col-3">
            <app-form-label
              id="wash_type_id"
              text="Tipo de Lavado"
              [required]="true"
            />
            <app-form-select
              [form]="washOrderForm"
              id="wash_type_id"
              controlName="wash_type_id"
              placeholder="Seleccione un tipo de Lavado..."
              optionLabel="name"
              optionValue="id"
              [filterEnabled]="true"
              [isLazy]="true"
              [sourceDataService]="washTypeService"
            >
            </app-form-select>
          </div>
          <div class="col-3">
            <app-form-label id="date" text="Fecha" [required]="true" />
            <app-form-datetime-picker
              [form]="washOrderForm"
              id="date"
              controlName="date"
              placeholder="Seleccione una fecha válida..."
              [showIcon]="true"
            />
          </div>

          <div class="col-12">
            <app-form-label id="observations" text="Observaciones" />
            <app-form-textarea
              [form]="washOrderForm"
              id="observations"
              controlName="observations"
              placeholder="Ingrese las observaciones de la orden de lavado..."
            ></app-form-textarea>
          </div>

          <div class="col-12 my-0 py-0">
            <div class="flex align-items-center justify-content-end gap-2">
              <p-button
                styleClass="p-button-sm p-button-secondary"
                routerLink="/wash-orders"
                icon="pi pi-arrow-circle-left"
                [label]="!washOrderCreated ? 'Cancelar' : 'Volver'"
              >
              </p-button>
              <p-button
                *ngIf="washOrderCreated"
                type="button"
                styleClass="p-button-sm"
                icon="pi pi-plus"
                label="Agregar Detalle"
                (onClick)="addWashOrderDetail()"
              ></p-button>
              <p-button
                type="submit"
                styleClass="p-button-sm p-button-success"
                icon="pi pi-save"
                [disabled]="!washOrderForm.valid || isProcessing"
                [label]="!washOrderCreated ? 'Guardar' : 'Actualizar'"
                [loading]="isProcessing"
              >
              </p-button>
            </div>
          </div>

          <div class="col-12 py-0 my-0">
            <h6>Detalles de orden de lavado</h6>
          </div>

          <div class="col-12 h-22rem py-0 my-0">
            <p-scrollPanel [style]="{ width: '100%', height: '22rem' }">
              <p-table
                [value]="washOrderDetails"
                [tableStyle]="{ 'max-height': '22rem' }"
                styleClass="p-datatable-sm"
                dataKey="id"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 5rem"></th>
                    <th>Tipo</th>
                    <th>Tamaño</th>
                    <th>Lavado Esp.</th>
                    <th>Num. Ojales</th>
                    <th>Cantidad</th>
                    <th>Precio ($)</th>
                    <th>Subtotal ($)</th>
                    <th>Acciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-expanded="expanded">
                  <tr>
                    <td>
                      <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="item"
                        class="p-button-sm p-button-text p-button-rounded p-button-plain"
                        [icon]="
                          expanded
                            ? 'pi pi-chevron-down'
                            : 'pi pi-chevron-right'
                        "
                      ></button>
                    </td>
                    <td>{{ item.cloth_type.name }}</td>
                    <td>{{ item.cloth_size.name }}</td>
                    <td>
                      <p-tag
                        *ngIf="item.is_special_wash; else withoutSpecialWash"
                        value="Si"
                        severity="success"
                      ></p-tag>
                      <ng-template #withoutSpecialWash>
                        <p-tag value="No" severity="danger"></p-tag>
                      </ng-template>
                    </td>
                    <td>{{ item.num_buttonholes }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.wash_price }}</td>
                    <td>{{ item.wash_price * item.quantity }}</td>
                    <td>
                      <p-button
                        icon="pi pi-times"
                        styleClass="p-button-sm p-button-rounded p-button-danger p-button-text"
                        (onClick)="deleteWashOrderDetail(item.id)"
                      ></p-button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-rowItem>
                  <tr>
                    <td colspan="12">
                      <div class="grid mt-1">
                        <div class="col-6">
                          <h6>Observaciones:</h6>
                          <p>{{ rowItem["observations"] }}</p>
                        </div>
                        <div class="col-6">
                          <h6>Efectos seleccionados:</h6>
                          <ul>
                            <li *ngFor="let effect of rowItem['effects']">
                              <span>{{ effect.name }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-scrollPanel>
          </div>

          <div class="col-4 col-offset-4 py-0 my-0">
            <app-form-label id="total_quantity" text="Cantidad Total" />
            <app-form-input-number
              [form]="washOrderForm"
              id="total_quantity"
              controlName="total_quantity"
              [readOnly]="true"
            />
          </div>
          <div class="col-4 py-0 my-0">
            <app-form-label id="total_price" text="Precio Total" />
            <app-form-input-number
              [form]="washOrderForm"
              id="total_price"
              controlName="total_price"
              mode="decimal"
              [readOnly]="true"
            />
          </div>
        </div>
      </app-form>
    </div>
  </div>
</div>
