<div class="grid">
  <div class="col-12">
    <div class="card mb-0">
      <h5>Ordenes de Lavado</h5>
      <app-confirm-dialog
        id="confirmDelete"
        title="Eliminar Orden de Lavado"
        message="¿Estas seguro de eliminar el orden de lavado?"
      ></app-confirm-dialog>
      <app-data-table
        #washOrderTable
        [tableConfig]="tableConfig"
        [sourceDataService]="washOrderService"
        [rowDetails]="rowDetails"
      ></app-data-table>

      <ng-template #rowDetails let-rowData>
        <div class="grid mt-1">
          <div class="col-12">
            <h6>Observaciones:</h6>
            <p>{{ rowData["observations"] }}</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
