<div *ngIf="ability$ | async as ab" class="grid">
  <div *ngIf="ab.can('read', 'wash-type')" class="col-12">
    <app-page-card title="Tipos de Lavado">
      <app-confirm-dialog
        id="confirmDelete"
        title="Eliminar Tipo de Lavado"
        message="¿Estas seguro de eliminar el tipo de lavado?"
      ></app-confirm-dialog>
      <app-data-table
        #washTypeTable
        [tableConfig]="tableConfig"
        [sourceDataService]="washTypeService"
        [rowDetails]="rowDetails"
      ></app-data-table>
      <ng-template #rowDetails let-washType>
        <div class="grid mt-1">
          <div class="col-12">
            <h6>Descripción:</h6>
            <p>{{ washType["description"] }}</p>
          </div>
        </div>
      </ng-template>
    </app-page-card>
  </div>
</div>
