<div class="grid">
  <div class="col-12">
    <app-page-card title="Precios de Lavado">
      <app-confirm-dialog
        id="confirmWashTypePriceDelete"
        title="Eliminar Precio Lavado"
        message="¿Estas seguro de eliminar el precio para cliente?"
      ></app-confirm-dialog>
      <app-data-table
        #washPricesTable
        [searchEnabled]="false"
        [tableConfig]="tableConfig"
        [sourceDataService]="washTypePriceService"
        [extraParams]="clientId"
      ></app-data-table>
    </app-page-card>
  </div>
</div>
