<app-form
  [form]="updatePasswordForm"
  [onProcessCompleted]="formProcessEvent"
  (onSubmit)="onSubmitForm($event)"
>
  <div class="form-container p-fluid p-form grid">
    <div class="col-12">
      <app-form-label text="Contraseña actual" [required]="true" />
      <app-form-input-password
        [form]="updatePasswordForm"
        controlName="current_password"
        id="currentPassword"
      ></app-form-input-password>
    </div>
    <div class="col-12">
      <app-form-label text="Contraseña nueva" [required]="true" />
      <app-form-input-password
        [form]="updatePasswordForm"
        controlName="new_password"
        id="newPassword"
      ></app-form-input-password>
    </div>
    <div class="col-12">
      <app-form-label text="Confirmación de contraseña nueva" [required]="true" />
      <app-form-input-password
        [form]="updatePasswordForm"
        controlName="new_password_confirmation"
        id="passwordConfirmation"
      ></app-form-input-password>
      <div *ngIf="updatePasswordForm.hasError('passwordMismatch')">
        <div class="text-red-300">
          <small>* Las contraseñas no coinciden</small>
        </div>
      </div>
    </div>
  </div>
</app-form>
