<app-form
  [form]="clothSizeForm"
  [onProcessCompleted]="formProcessEvent"
  (onSubmit)="onSubmitForm($event)"
>
  <div class="form-container p-fluid p-formgrid grid">
    <div class="col-12">
      <app-form-label id="name" text="Nombre" [required]="true" />
      <app-form-input-text
        [form]="clothSizeForm"
        id="name"
        controlName="name"
        placeholder="Ingrese el nombre del tipo de prenda..."
      />
    </div>
    <div class="col-12">
      <app-form-label id="description" text="Descripción" />
      <app-form-textarea
        [form]="clothSizeForm"
        id="description"
        controlName="description"
        placeholder="Ingrese la descripción del tipo de prenda..."
      ></app-form-textarea>
    </div>
    <div class="col-12 text-center">
      <h6>Es Tipo Activo</h6>
      <app-form-switch
        [form]="clothSizeForm"
        id="is_active"
        controlName="is_active"
      ></app-form-switch>
    </div>
  </div>
</app-form>
